<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/groups/'" class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ course_name }}: Page Manager
                    </h2>
                </div>
            </span>
            <span class="content center">
                <p>This course contains {{n_pages}} page{%if n_pages != 1 %}s{%endif%}.</p>
                <button class="course-button secondary"
                    onclick="window.location.href='/courses/{{course_name}}/edit/'">Return to the editor</button>
            </span>
            <hr />
            <span class="content center">
                <span class="grid">
                    <div class="grid-item head">Page Number</div>
                    <!--div>|</div-->
                    <div class="grid-item head">Page Title</div>
                    <div class="grid-item head">Answer Type</div>
                    <div class="grid-item head end">

                        <button type="button" value="{{i.number}}" class="list-delete-button grid"
                            style="visibility: hidden;">-</button>
                    </div>
                    {%for i in pages%}
                    <div class="grid-item">{{i.number}}</div>
                    <!--div>|</div-->
                    <div class="grid-item">{{i.title}}</div>
                    <div class="grid-item">{{i.get_answer_type_display}}</div>
                    <div class="grid-item end">
                        <button type="button" value="{{i.number}}" class="list-delete-button grid head"
                            onclick="window.location.href='/courses/{{course_name}}/edit/pages/delete/{{i.number}}/'">
                            <div style="margin-left: 50%;">-</div>
                        </button>
                    </div>
                    {%endfor%}
                </span>
            </span>
        </main>
    </div>
</body>
<!--script src="{%static 'page_manager_trigger_warn.js' %}"></script-->

</html>