<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text">Test 3sdagfdhfdhbdfghjgfjdhgjghkjhudsfgfgdagfdgbfdsay</div>

                </li>
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ course_name }}: {{page_title}}
                    </h2>
                </div>
            </span>
            <span class="content center">
                <br />
                <br />
                <p id="mdtext">{{page_text}}</p>
                <br />
                <div class="bottom-nav">
                    <img class="img-nav-arrow-rotate"
                        onclick="window.location.href='/courses/{{ course_name }}/browse/{{ page_previous }}';"
                        src="{% static 'nav_arrow.png' %}" {% if first_page %} style="visibility: hidden;" {%endif%} />
                    <div class="img-nav-button">
                        <img class="img-nav-box" src="{% static 'nav_box.png' %}" />
                        <div class="img-nav-button-text">{{ page_number }}</div>
                    </div>
                    <img class="img-nav-arrow"
                        onclick="window.location.href='/courses/{{ course_name }}/browse/{{page_next}}';"
                        src="{% static 'nav_arrow.png' %}" {% if not next_exists %} style="visibility: hidden;"
                        {%endif%} />
                </div>
            </span>
        </main>
    </div>
</body>
<!--md to html-->
<script src="https://cdn.jsdelivr.net/npm/showdown@2.0.4/dist/showdown.min.js"></script>
<script src="{% static 'script.js' %}"></script>
<script src="{% static 'mdread.js' %}"></script>

</html>