<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->
<style>
    input[type='checkbox'] {
        width: 1.5rem;
        height: 1.5rem;
    }

    input[type='radio'] {
        width: 1.5rem;
        height: 1.5rem;
    }
</style>

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                {%if not is_quiz%}
                <li class="sidebar-element" onclick="window.location.href='/'">
                    <div class="sidebar-text">Home Page</div>

                </li>
                <li class="sidebar-element" onclick="window.location.href='/courses/'">
                    <div class="sidebar-text">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element" onclick="window.location.href='/groups/'">
                    <div class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
                {%if user|check_group_enrollment%}
                <li class="sidebar-element" onclick="window.location.href='/assignments/'">
                    <div class="sidebar-text">Handed-out Assignments</div>
                </li>
                {%endif%}
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    {%if not is_quiz%}
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    {%endif%}
                    <img class="pfp" src="{{user|get_pfp}}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ course_name }}: {{page_title}}
                    </h2>
                    <h3 style="display: none;" id="timer">Time left: </h3>
                </div>
            </span>
            <span class="content center">
                <br />
                <br />
                <p id="mdtext">{{page_text}}</p>
            </span>
            {%if form%}
            <hr />
            {%endif%}
            <span class="content center">
                <!--reponse goes here-->
                {%if form%}
                <p>{{question_itself}}</p>
                <form action="/courses/{{course_name}}/browse/{{page_number}}/" {%if is_file%}
                    enctype="multipart/form-data" {%endif%} class="content center" method="post" id="answer_form">
                    {%csrf_token%}
                    <h3>{{form.user_response.label}}</h3>
                    <div class="room-for-button">{{form.user_response}}</div>
                    <button class="course-button editor" type="submit" value="OK">Submit Answer</button>
                </form>
                {%endif%}
            </span>
            <span class="content center room-for-navbar" {%if is_quiz%} style="display: none;" {%endif%}>
                <div class="bottom-nav">
                    <img class="img-nav-arrow-rotate"
                        onclick="window.location.href='/courses/{{ course_name }}/browse/{{ page_previous }}';"
                        src="{% static 'nav_arrow.png' %}" {% if first_page %} style="visibility: hidden;" {%endif%} />
                    <div class="img-nav-button">
                        <img class="img-nav-box" src="{% static 'nav_box.png' %}" />
                        <div class="img-nav-button-text">{{ page_number }}</div>
                    </div>
                    <img class="img-nav-arrow"
                        onclick="window.location.href='/courses/{{ course_name }}/browse/{{page_next}}';"
                        src="{% static 'nav_arrow.png' %}" {% if not next_exists %} style="visibility: hidden;"
                        {%endif%} />
                </div>
            </span>
        </main>
    </div>
</body>
<!--md to html-->
<script src="https://cdn.jsdelivr.net/npm/showdown@2.0.4/dist/showdown.min.js"></script>
<script src="{% static 'mdread.js' %}"></script>
<script src="{% static 'browse_checkbox_reshaper.js' %}"></script>
{%if is_quiz%}
<div style="display: none;" id="page_next_number">{{page_next}}</div>
<div style="display: none;" id="current_page_number">{{page_number}}</div>
<div style="display: none;" id="quiz_time">{{quiz_time}}</div>
<div style="display: none;" id="current_course_name">{{course_name}}</div>
<script src="{% static 'quiz_timer.js' %}"></script>
{%endif%}

</html>