<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element" onclick="window.location.href='/'">
                    <div class="sidebar-text">Home Page</div>

                </li>
                <li class="sidebar-element" onclick="window.location.href='/courses/'">
                    <div class="sidebar-text">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element" onclick="window.location.href='/groups/'">
                    <div class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
                {%if user|check_group_enrollment%}
                <li class="sidebar-element" onclick="window.location.href='/assignments/'">
                    <div class="sidebar-text">Handed-out Assignments</div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{{user|get_pfp}}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ course_name }}: Page Deletion
                    </h2>
                </div>
            </span>
            <span class="content center">
                <h2>Are you sure you want to delete {{page_obj.title}}?</h2>
            </span>
            <hr />
            <span class="content center">
                <div class="content center row">
                    <div>{{page_obj.number}}</div>
                    <div>|</div>
                    <div>{{page_obj.title}}</div>
                    <div>|</div>
                    <div>{{page_obj.get_answer_type_display}}</div>
                </div>
            </span>
            <hr />
            <span class="content center">
                <p>Deletion of this page will cause all of the submitted answers related to it to be deleted as well, as
                    well as all of the inputted data to it, including but not limited to:</p>
                <ul>
                    <li>{{n_answers}} student answer{%if n_answers != 1 %}s{%endif%}</li>
                    <li>Page text</li>
                    <li>Answer Type Information and contents</li>
                </ul>
                <p>Other pages will move back to fill the missing space accordingly.</p>

            </span>
            <span class="content center row">
                <button class="course-button"
                    onclick="window.location.href='/courses/{{course_name}}/edit/pages/';">Abort</button>
                <button class="course-button secondary"
                    onclick="window.location.href='/courses/{{course_name}}/edit/pages/delete/{{page_number}}/?confirm=True';">Delete
                    Page</button>
            </span>

        </main>
    </div>
</body>
<!--script src="{%static 'page_manager_trigger_warn.js' %}"></script-->

</html>