<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/groups/'" class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ course_name }}: General Information
                    </h2>
                </div>
            </span>
            <span class="content center">
                <br />
                <br />
                <div class="user-face">
                    <div class="assignments-box">
                        <img class="course-image" src="{% static 'course.png' %}">
                        <a class="course-text">{{ course_name }}</a>
                    </div>
                    <div class="user-link-spread">
                        <p>Visibility: {{course_access}}</p>
                        <p>Enrolled: 0</p>
                        <p>Number of pages: {{n_pages}}</p>
                    </div>
                </div>

                <br />
            </span>
            <span class="content center row">
                <button class="course-button"
                    onclick="window.location.href='/courses/{{ course_name }}/edit/pages/';">Manage Pages</button>
            </span>
            <hr />
            <h2>Edit Course Metadata</h2>
            <!--course info form-->
            <span class="content center">
                <form action="/courses/{{course_name}}/edit/0/" method="post">
                    {% csrf_token %}
                    <div class="content center">
                        <div>Course Name:</div>
                        {{form.name}}
                    </div>
                    <div class="content center">
                        <div>Course Description:</div>
                        {{form.description}}
                    </div>
                    <div class="content center">
                        <div>Course Access Level:</div>
                        {{form.access}}
                    </div>
                    <br />
                    <button class="course-button" type="submit" value="OK">Update</button>
                </form>
            </span>
            <hr />
            <span class="content center row room-for-navbar">
                <button class="course-button secondary"
                    onclick="window.location.href='/courses/{{ course_name }}/delete/';">Delete Course</button>
            </span>
            <!--bottom navbar-->
            <span class="content center">
                <div class="bottom-nav">
                    <img class="img-nav-arrow-rotate" style="visibility: hidden;" src="{% static 'nav_arrow.png' %}" />
                    <div class="img-nav-button">
                        <img class="img-nav-box" src="{% static 'nav_box.png' %}" />
                        <div class="img-nav-button-text">{{ page_number }}</div>
                    </div>
                    <img class="img-nav-arrow"
                        onclick="window.location.href='/courses/{{ course_name }}/edit/{{page_next}}';"
                        src="{% static 'nav_arrow.png' %}" />
                </div>
            </span>
        </main>
    </div>
</body>

</html>