<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text">Group Menu</div>

                </li>
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ course_name }}: Page {{page_number}}
                    </h2>
                </div>
            </span>
            <span class="content center room-for-navbar">
                <br />
                <br />
                <form action="/courses/{{course_name}}/edit/{{page_number}}/" method="post">
                    {% csrf_token %}
                    <div class="content center">
                        <div>Page Title:</div>
                        {{form.title}}
                    </div>
                    <div class="content center">
                        <div>Page Answer Type:</div>
                        {{form.answer_type}}
                    </div>
                    <p id="warning" style="display: none;">Warning! If you save changes right now, all of the previously
                        submitted answers for this page will be lost!</p>
                    <div class="content center">
                        <div>Body Text:</div>
                        {{form.text}}
                    </div>

                    <br />
                    {%if question_presence%}
                    <div class="content center">
                        <div>Question Text:</div>
                        {{form.question}}
                    </div>
                    {%endif%}
                    {%if choice_type%}
                    <div class="content center">
                        <div>Answer Choices:</div>
                        {{form.choices}}
                    </div>
                    <div class="content center">
                        {{form.correct_choices}}
                    </div>
                    <div class="content center" id="choices-container" style="margin-bottom: 1rem;">
                        <!--list generates here,don't add anything here pls-->
                    </div>
                    <button type="button" class="course-button secondary editor" style="margin-bottom: 1rem;"
                        onclick="add_list_item(this);">Add</button>
                    <br />
                    {%endif%}
                    <button class="course-button editor" type="submit" value="OK">Save Changes</button>
                </form>
                <br />
            </span>
            <span class="content center">
                <div class="bottom-nav">

                    <img class="img-nav-arrow-rotate"
                        onclick="window.location.href='/courses/{{ course_name }}/edit/{{ page_previous }}';"
                        src="{% static 'nav_arrow.png' %}" />
                    <div class="img-nav-button">
                        <img class="img-nav-box" src="{% static 'nav_box.png' %}" />
                        <div class="img-nav-button-text">{{ page_number }}</div>
                    </div>
                    <img class="img-nav-arrow"
                        onclick="window.location.href='/courses/{{ course_name }}/edit/{{page_next}}';"
                        src="{% static 'nav_arrow.png' %}" />
                </div>
            </span>
        </main>
    </div>
</body>
<script src="{% static 'page_answer_change_warning.js' %}"></script>
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script src="{% static 'easyMDE_load.js' %}"></script>
<script src="{% static 'easyMDE_resize.js' %}"></script>
<script>
    var option_type = "{{option_type}}";
</script>
<script src="{% static 'build_list.js' %}"></script>

</html>