<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/groups/'" class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
                {%if user|check_group_enrollment%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/assignments/'" class="sidebar-text">Handed-out Assignments
                    </div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        Student Group Information
                    </h2>
                    <p onclick="window.location.href='/groups/';" class="link-text">
                        Back</p>
                </div>
            </span>
            <span class="content center">
                <br />
                <br />
                <h1>{{group_name}}</h1>

                <br />
            </span>
            <hr />
            <h2>Define Group Metadata</h2>
            <!--course info form-->
            <span class="content center" style="margin-bottom: 1rem ;">
                <form action="/groups/create/" method="post">
                    {% csrf_token %}
                    <div class="content center">
                        <div>Group Name:</div>
                        {{form.name}}
                    </div>
                    <br />
                    <button class="course-button" type="submit" value="OK">Update</button>
                </form>
            </span>
            <span class="content center row">
                <button class="course-button secondary"
                    onclick="window.location.href='/groups/{{group_name}}/students/'">Students</button>
                <button class="course-button secondary"
                    onclick="window.location.href='/groups/{{group_name}}/assignments/'">Assignments</button>
            </span>
        </main>
    </div>
</body>

</html>