<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/groups/'" class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{group_name}}: Assignments
                    </h2>
                    <p onclick="window.location.href='/groups/{{group_name}}/';" class="link-text">
                        Back</p>
                </div>
            </span>
            <br />
            <br />
            <span class="content center">
                <h2>Added Assignments:</h2>
            </span>
            <hr />
            <span class="content center">
                <span class="grid smaller">
                    {%for i in assignments_list%}
                    <a class="grid-item" href="/groups/{{group_name}}/assignments/{{i.course}}/">{{i.course}}</a>
                    <div class="grid-item end">
                        <button type="button" value="{{i.number}}" class="list-delete-button grid head"
                            onclick="window.location.href='/groups/{{group_name}}/assignments/delete/{{i.course}}/'">
                            <div style="margin-left: 50%;">-</div>
                    </div>
                    {%endfor%}
                </span>
            </span>
            <!--course info form-->
            <hr />
            <span class="content center">
                <h2>Add Courses by their username</h2>
                <form action="/groups/{{group_name}}/assignments/" method="post">
                    {% csrf_token %}
                    <div class="content center row">
                        {{form.course}}
                        <button class="course-button" type="submit" value="OK">Add</button>
                    </div>
                </form>
            </span>

        </main>
    </div>
</body>

</html>