<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load filters %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
  <div class="split">
    <nav class="sidebar">
      <ul class="sidebar-list">
        <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
        <li class="sidebar-element" onclick="window.location.href='/'">
          <div class="sidebar-text">Home Page</div>

        </li>
        <li class="sidebar-element" onclick="window.location.href='/courses/'">
          <div class="sidebar-text">Course Search</div>

        </li>
        {%if user|check_teacher%}
        <li class="sidebar-element" onclick="window.location.href='/groups/'">
          <div class="sidebar-text">Student Groups</div>
        </li>
        {%endif%}
        {%if user|check_group_enrollment%}
        <li class="sidebar-element" onclick="window.location.href='/assignments/'">
          <div class="sidebar-text">Handed-out Assignments</div>
        </li>
        {%endif%}
      </ul>
    </nav>
    <main>
      <div class="main-div-quick-access">
        <div style="display:block;">
          <p>
            N notifications
          </p>
          <p onclick="window.location.href='/user/';" class="link-text">
            Profile
          </p>
        </div>
        <img class="pfp" src="{{user|get_pfp}}" />
      </div>
      <h2>Assignment Item</h2>
      <p onclick="window.location.href='/groups/{{group_name}}/assignments/';" class="link-text">
        Back</p>
      <span class="content center">
        <br />
        <br />
        <div class="user-face">
          <div class="assignments-box">
            <img class="course-image" src="{% static 'course.png' %}">
            <div class="deadline">{{deadline}}</div></img>
            <a class="course-text">{{ course_name }}</a>
          </div>
          <div class="user-link-spread">
            <p>Author: {{course_obj.author}}</p>
            <p>Number of pages: {{n_pages}}</p>
            <p>Number of answers: {{n_answers}}</p>
          </div>
        </div>
      </span>
      <span class="content center">
        <form action="/groups/{{group_name}}/assignments/{{course_name}}/" method="post">
          {%csrf_token%}
          {{form}}
          <br />
          <button class="course-button primary" type="submit" value="OK">Update Deadline</button>
        </form>
      </span>
      <hr>
      </hr>
      <h2>List of participants</h2>
      <span class="grid smaller">
        {%for i in participants%}
        <div class="grid-item" style="border: none;">{{i}}</div>
        <div class="grid-item end">
          <button type="button" value="{{i.number}}" class="course-button"
            onclick="window.location.href='/groups/{{group_name}}/assignments/{{course_name}}/{{i}}/'">See
            Details</button>
        </div>
        {%endfor%}
      </span>
      </span>
    </main>

  </div>
</body>
<script src="{% static 'deadline_countdown.js' %}"></script>

</html>