<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/groups/'" class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
                {%if user|check_group_enrollment%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/assignments/'" class="sidebar-text">Handed-out Assignments
                    </div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ group_name }}: Student Deletion
                    </h2>
                </div>
            </span>
            <br />
            <span class="content center">
                <h2>Are you sure you want to delete {{student_name}} from {{group_name}}?</h2>
            </span>
            <hr />
            <span class="content center">
                <div class="content center row">
                    <div>{{student_name}}</div>

                </div>
            </span>
            <hr />
            <span class="content center">
                <p>Deletion of a student from a group will cause them to miss out on any imposed deadlines, as well as
                    you losing access to their course responses.</p>
            </span>
            <span class="content center row">
                <button class="course-button"
                    onclick="window.location.href='/groups/{{group_name}}/students/';">Abort</button>
                <button class="course-button secondary"
                    onclick="window.location.href='/groups/{{group_name}}/students/delete/{{student_name}}/?confirm=True';">Delete
                    from the Group</button>
            </span>

        </main>
    </div>
</body>
<!--script src="{%static 'page_manager_trigger_warn.js' %}"></script-->

</html>