<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load filters %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
    <div class="split">
        <nav class="sidebar">
            <ul class="sidebar-list">
                <img class="icon" src="{% static 'hse_logo.svg' %}" alt="HSE Logo" />
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/'">Home Page</div>

                </li>
                <li class="sidebar-element">
                    <div class="sidebar-text" onclick="window.location.href='/courses/'">Course Search</div>

                </li>
                {%if user|check_teacher%}
                <li class="sidebar-element">
                    <div onclick="window.location.href='/groups/'" class="sidebar-text">Student Groups</div>
                </li>
                {%endif%}
            </ul>
        </nav>
        <main>
            <span style="overflow: hidden;">
                <div class="main-div-quick-access">
                    <div style="display:block;">
                        <p>
                            N notifications
                        </p>
                        <p onclick="window.location.href='/user/';" class="link-text">
                            Profile
                        </p>
                    </div>
                    <img class="pfp" src="{% static 'pfp.png' %}" />
                </div>
                <!--welcome-->
                <div style="overflow: hidden;">
                    <h2>
                        {{ group_name }}: Group Deletion
                    </h2>
                </div>
            </span>
            <span class="content center">
                <h2>Are you sure you want to delete {{group_name}}?</h2>
            </span>
            <hr />
            <span class="content center">
                <div class="content center row">
                    <div>{{group_name}}</div>
                    <div>|</div>
                    <div>{{page_obj.title}}</div>
                    <div>|</div>
                    <div>{{page_obj.get_answer_type_display}}</div>
                </div>
            </span>
            <hr />
            <span class="content center">
                <p>Deletion of this group will cause you loosing access to all of your students' submitted answers, as
                    well as:</p>
                <ul>
                    <li>{{n_assignments}} assignment{%if n_assignments != 1 %}s{%endif%}</li>
                    <li>{{n_students}} added student{%if n_students != 1 %}s{%endif%}</li>
                    <li>All of the set deadlines information</li>
                </ul>
                <p>No users will be deleted.</p>

            </span>
            <span class="content center row">
                <button class="course-button" onclick="window.location.href='/groups/{{group_name}}/';">Abort</button>
                <button class="course-button secondary"
                    onclick="window.location.href='/groups/{{group_name}}/delete/?confirm=True';">Delete
                    The Group</button>
            </span>

        </main>
    </div>
</body>
<!--script src="{%static 'page_manager_trigger_warn.js' %}"></script-->

</html>