<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- font import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
</head>
<!-- wanted to make it one template but thought that id rather not do that right now, maybe later -->

<body>
  <div class="login-form">
    <div class="login-box">
      <h3>Hello, Please Register</h3>
      {% if user_found %}
      <p class="error-text">Sorry, that username already exists.</p>
      {% endif %}
      {% if failed_login %}
      <p class="error-text">Sorry, the username or password did not match.</p>
      {% endif %}
      {% if incomplete_form %}
      <p class="error-text">Sorry, you should fill in all the credential fields.</p>
      {% endif %}
      <form action="/register/" method="post">
        {% csrf_token %}
        <div>{{ form.as_p }}</div>
        <button class="login-button-primary" type="submit" value="OK">Register</button>
      </form>
      <h3>Got an account?</h3>
      <a href="/login/" method="post">
        <!-- {% csrf_token %} -->
        <button class="login-button-secondary" type="submit" value="OK">Login</button>
      </a>
    </div>
  </div>
</body>

</html>