[Unit]
Description=gunicorn daemon for quizsite
After=network.target

[Service]
User=miv2nir
Group=miv2nir
WorkingDirectory=/home/miv2nir/project/quizsite
ExecStart=/home/miv2nir/project/venv/bin/gunicorn -c gunicorn_config.py quizsite.wsgi
#Restart=on-failure
#StartLimitBurst=2
#StartLimitInterval=30

[Install]
WantedBy=multi-user.target
